<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-08-18T12:02:05Z</date>
	<key>WorkspacePath</key>
	<string>/Users/zhangwenyi/Desktop/zwy/yuanma/libdispatch-1173.60.1/libdispatch.xcodeproj</string>
</dict>
</plist>
