<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-02-25T10:40:51Z</date>
	<key>WorkspacePath</key>
	<string>/Users/zhangwenyi/Desktop/22/OCDemo/指针偏移/指针偏移.xcodeproj</string>
</dict>
</plist>
